In [58]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier

In [59]:
train=pd.read_csv("t4ir/data/titanic/train.csv")
train.shape

(891, 12)

In [60]:
test=pd.read_csv("t4ir/data/titanic/test.csv")
test.shape

(418, 11)

In [61]:
train.head()
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [62]:
train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [63]:
train.isnull().sum() #Age : 177

train['Age_mean']=train['Age']

In [64]:
train['Age_mean'].fillna(train['Age'].mean(), inplace=True)

In [65]:
train['Age_mean'].isnull().sum()

0

In [66]:
test['Age_mean']=test['Age']
test['Age_mean'].fillna(test['Age'].mean(), inplace=True)
test['Age_mean'].isnull().sum()

0

In [67]:
train['Sex'].value_counts()
#성별에 따른 데이터 빈도수 계산

male      577
female    314
Name: Sex, dtype: int64

In [68]:
train['Gender']= (train['Sex']=='female') #female => True, male => False 저장
test['Gender']= (test['Sex']=='female')

In [69]:
train['Gender'].value_counts()

False    577
True     314
Name: Gender, dtype: int64

In [70]:
train['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [71]:
train['Embarked_S']=train['Embarked']=='S'
train['Embarked_C']=train['Embarked']=='C'
train['Embarked_Q']=train['Embarked']=='Q'

In [72]:
train['Embarked_S'].sum() 
train['Embarked_C'].sum() 
train['Embarked_Q'].sum()

77

In [73]:
test['Embarked_S']=test['Embarked']=='S'
test['Embarked_C']=test['Embarked']=='C'
test['Embarked_Q']=test['Embarked']=='Q'

In [74]:
train['FamilySize']=train['SibSp']+train['Parch']+1
train['FamilySize'].value_counts()

1     537
2     161
3     102
4      29
6      22
5      15
7      12
11      7
8       6
Name: FamilySize, dtype: int64

In [75]:
test['FamilySize']=test['SibSp']+test['Parch']+1
test['Family']=test['FamilySize']
test.loc[test['FamilySize']==1, 'Family']='S'
test.loc[(test['FamilySize']>=2) & (test['FamilySize']<5) , 'Family']='M'
test.loc[test['FamilySize']>=5, 'Family']='L'

In [76]:
train.head()
train['Family']=train['FamilySize']

In [77]:
# FamilySize가 1이면 Family에는 S저장
# FamilySize가 2 이상 5미만 Family에는 M저장
# FmailySize가 5이상이면  Family에는 L저장

#train.head()
train.loc[train['FamilySize']==1, 'Family']='S'
train.loc[(train['FamilySize']>=2) & (train['FamilySize']<5) , 'Family']='M'
train.loc[train['FamilySize']>=5, 'Family']='L'

In [78]:
train[['Family', 'FamilySize']].head()

  Family  FamilySize
0      M           2
1      M           2
2      S           1
3      M           2
4      S           1

In [79]:
train['Family_S']=train['Family']=='S'
train['Family_M']=train['Family']=='M'
train['Family_L']=train['Family']=='L'

In [80]:
test['Family_S']=test['Family']=='S'
test['Family_M']=test['Family']=='M'
test['Family_L']=test['Family']=='L'

In [81]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,Age_mean,Gender,Embarked_S,Embarked_C,Embarked_Q,FamilySize,Family,Family_S,Family_M,Family_L
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,...,22.0,False,True,False,False,2,M,False,True,False
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,...,38.0,True,False,True,False,2,M,False,True,False
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,...,26.0,True,True,False,False,1,S,True,False,False
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,...,35.0,True,True,False,False,2,M,False,True,False
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,...,35.0,False,True,False,False,1,S,True,False,False

In [82]:
train['Family'].value_counts()

S    537
M    292
L     62
Name: Family, dtype: int64

In [83]:
test['Family'].value_counts()

S    253
M    145
L     20
Name: Family, dtype: int64

In [84]:
train['Pclass']=train['Pclass'].astype('category')

In [85]:
train["Fare"].describe()

count    891.000000
mean      32.204208
std       49.693429
min        0.000000
25%        7.910400
50%       14.454200
75%       31.000000
max      512.329200
Name: Fare, dtype: float64

In [86]:
train["Fare_temp"] = train["Fare"]
train.loc[train['Fare'] <= 15, 'Fare_temp']='L'
train.loc[train['Fare'] > 15, 'Fare_temp']='H'

In [87]:
test["Fare_temp"] = test["Fare"]
test.loc[train['Fare'] <= 15, 'Fare_temp']='L'
test.loc[train['Fare'] > 15, 'Fare_temp']='H'

In [88]:
train['Fare_L']=train['Fare_temp']=='L'
train['Fare_H']=train['Fare_temp']=='H'

In [89]:
test['Fare_L']=test['Fare_temp']=='L'
test['Fare_H']=test['Fare_temp']=='H'

In [90]:
train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'Age_mean', 'Gender',
       'Embarked_S', 'Embarked_C', 'Embarked_Q', 'FamilySize', 'Family',
       'Family_S', 'Family_M', 'Family_L', 'Fare_temp', 'Fare_L', 'Fare_H'],
      dtype='object')

In [96]:
fn=['Gender','Age_mean', "Pclass","Fare_L", "Fare_H","Embarked_S", 'Embarked_C', 'Embarked_Q', 'Family_S', 'Family_M', 'Family_L']
xTrain=train[fn]
xTrain.head()

yLabel=train['Survived']

In [97]:
xTest=test[fn]

In [98]:
model = DecisionTreeClassifier(max_depth = 6, random_state = 2020)
model 
model.fit(xTrain, yLabel)
prediction = model.predict(xTest)
test["Survived"] = prediction

In [99]:
res = test[["PassengerId", "Survived"]]
res

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [100]:
res.to_csv("t4ir/mysubmit4.csv", index = False)